body {
    background-color:black;
    color:white;
}

#logoHeader {
    height: 60%;
    width: 60%;
}

.navbar{
    background: rgba(0, 0, 0, 0.7);
    font-size: medium;
    font-family: sans-serif;
    color: white;
}

.nav-link{
    color:white !important;
}

a {
    text-decoration: none;
}

.carousel {
    background-color: black;
}

.carousel-inner {
    max-height: 450px;
}

.carousel-indicators > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-item {
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form-style {
    background-image: url("img/cidade.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.input-cep{
    border-color: rgba(255, 255, 255, 0.8);
    border-radius: 0%;
    border-width: 0 0 1px ;
    color: white;
    outline: 0;
    width: 270px;
}

::-webkit-input-placeholder {
   color: white !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;
}

:-ms-input-placeholder {  
   color: white !important;
}

.button-search {
    background-color: rgb(82, 209, 146);
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    margin: 25px 0px 25px 0px;
    width: 125px
}

footer {
    background-color: black;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

#logoFooter {
    height: 72px;
    width: 62px;
}

.footerTitle {
    color: rgb(82, 209, 146);
    font-weight: bold;
}

#copyrightText {
    margin-top: 13px;
    color:grey;
    min-width: 200px;
}

#contato {
    min-width: 300px;
}